stashapp-tools
pyyaml
sqlalchemy
alembic
imagehash
opencv-python
gradio
pillow
pip-system-certs
deepface
tf-keras
matplotlib
imagehash
pyAesCrypt
cmake #required for dlib
dlib
mediapipe
ultralytics
decord