stashapp-tools
pyyaml
sqlalchemy
alembic
imagehash
opencv-python
gradio
pillow
pip-system-certs
deepface
tf-keras
matplotlib
imagehash
pyAesCrypt
cmake #required for dlib
dlib
mediapipe
ultralytics
decord
diffusers 
transformers 
accelerate 
scipy 
safetensors
git+https://github.com/sberbank-ai/Real-ESRGAN.git
huggingface_hub==0.25
psycopg2